In [14]:
import pandas as pd
import numpy as np
import os

In [2]:
pwd = os.getcwd()

In [3]:
train_import = pd.read_csv(pwd + "/train.csv")
train_import

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,132,06/25/2008,Trabzon,Other,FC,2,3.0,3.0,5.0,4,...,3.0,0,0,0,0,0,0,0,0,5787594.0
133,133,10/12/2006,İzmir,Big Cities,FC,4,5.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,9262754.0
134,134,07/08/2006,Kayseri,Other,FC,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,2544857.0
135,135,10/29/2010,İstanbul,Big Cities,FC,4,5.0,4.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,7217634.0
136,136,09/01/2009,İstanbul,Big Cities,FC,4,5.0,3.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,6363241.0

In [4]:
train_import.columns

Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
       'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
       'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
       'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
       'P36', 'P37', 'revenue'],
      dtype='object')

In [5]:
train_import["City"].unique()

array(['İstanbul', 'Ankara', 'Diyarbakır', 'Tokat', 'Gaziantep',
       'Afyonkarahisar', 'Edirne', 'Kocaeli', 'Bursa', 'İzmir', 'Sakarya',
       'Elazığ', 'Kayseri', 'Eskişehir', 'Şanlıurfa', 'Samsun', 'Adana',
       'Antalya', 'Kastamonu', 'Uşak', 'Muğla', 'Kırklareli', 'Konya',
       'Karabük', 'Tekirdağ', 'Denizli', 'Balıkesir', 'Aydın', 'Amasya',
       'Kütahya', 'Bolu', 'Trabzon', 'Isparta', 'Osmaniye'], dtype=object)

In [6]:
train_import["City Group"].unique()

array(['Big Cities', 'Other'], dtype=object)

In [7]:
train_import["Type"].unique()

array(['IL', 'FC', 'DT'], dtype=object)

In [8]:
train_import["revenue"].describe()

count    1.370000e+02
mean     4.453533e+06
std      2.576072e+06
min      1.149870e+06
25%      2.999068e+06
50%      3.939804e+06
75%      5.166635e+06
max      1.969694e+07
Name: revenue, dtype: float64

In [32]:
# Look at city level statistics

train_city_stats = train_import.copy()

city_summary_stats = train_city_stats.groupby(["City", "City Group"]).agg({"revenue":[np.sum, np.average, np.median, np.count_nonzero]}).reset_index().sort_values(by=[("revenue", "sum")], ascending=False)

city_summary_stats

              City  City Group      revenue                           \
                                        sum       average     median
31        İstanbul  Big Cities  278890598.0  5.577812e+06  4648184.0
3           Ankara  Big Cities   62232711.0  3.275406e+06  3164972.0
32           İzmir  Big Cities   47588137.0  5.287571e+06  4250758.0
8            Bursa       Other   20461475.0  4.092295e+06  3351383.0
26          Samsun       Other   16239348.0  3.247870e+06  3248660.0
0            Adana       Other   14684833.0  4.894944e+06  4467728.0
4          Antalya       Other   13925793.0  3.481448e+06  3505861.0
18         Kayseri       Other   13702727.0  4.567576e+06  3956086.0
25         Sakarya       Other   13315413.0  3.328853e+06  3003633.5
13       Eskişehir       Other   11873860.0  3.957953e+06  3939804.0
10      Diyarbakır       Other   11206054.0  3.735351e+06  2738052.0
29         Trabzon       Other   10568201.0  5.284100e+06  5284100.5
27        Tekirdağ       Other    9937412.0  3.312471e+06  3410878.0
23           Muğla       Other    8222258.0  4.111129e+06  4111129.0
5            Aydın       Other    6859597.0  3.429798e+06  3429798.5
12          Elazığ       Other    5525735.0  5.525735e+06  5525735.0
11          Edirne       Other    5444227.0  5.444227e+06  5444227.0
20           Konya       Other    5334513.0  2.667256e+06  2667256.5
1   Afyonkarahisar       Other    4952497.0  4.952497e+06  4952497.0
6        Balıkesir       Other    4758476.0  4.758476e+06  4758476.0
14       Gaziantep       Other    4316715.0  4.316715e+06  4316715.0
7             Bolu       Other    4263629.0  4.263629e+06  4263629.0
15         Isparta       Other    4015749.0  4.015749e+06  4015749.0
16         Karabük       Other    3807496.0  3.807496e+06  3807496.0
19         Kocaeli       Other    3745135.0  3.745135e+06  3745135.0
24        Osmaniye       Other    3376145.0  3.376145e+06  3376145.0
17       Kastamonu       Other    3273041.0  3.273041e+06  3273041.0
33       Şanlıurfa       Other    3261924.0  3.261924e+06  3261924.0
21         Kütahya       Other    2993069.0  2.993069e+06  2993069.0
2           Amasya       Other    2954086.0  2.954086e+06  2954086.0
28           Tokat       Other    2675511.0  2.675511e+06  2675511.0
9          Denizli       Other    2344689.0  2.344689e+06  2344689.0
30            Uşak       Other    1763231.0  1.763231e+06  1763231.0
22      Kırklareli       Other    1619683.0  1.619683e+06  1619683.0


   count_nonzero
31          50.0
3           19.0
32           9.0
8            5.0
26           5.0
0            3.0
4            4.0
18           3.0
25           4.0
13           3.0
10           3.0
29           2.0
27           3.0
23           2.0
5            2.0
12           1.0
11           1.0
20           2.0
1            1.0
6            1.0
14           1.0
7            1.0
15           1.0
16           1.0
19           1.0
24           1.0
17           1.0
33           1.0
21           1.0
2            1.0
28           1.0
9            1.0
30           1.0
22           1.0

It appears that we have a few big groups of cities, those with 1 restaurant, < 10 restaurants, Ankara (19 restaurants), and Istanbul (50 restaurants). I assume that we'll need to build different models for different cities.

# Correlation Coefficients Test

In [38]:
corr_test = train_import.copy()
corr_test = corr_test.corr()["revenue"].reset_index().sort_values(by="revenue", ascending=False)
corr_test

      index   revenue
38  revenue  1.000000
2        P2  0.191518
28      P28  0.155534
6        P6  0.139094
21      P21  0.097411
11      P11  0.084247
22      P22  0.083562
1        P1  0.070217
17      P17  0.067137
7        P7  0.051165
23      P23  0.045507
25      P25  0.036365
4        P4  0.035685
19      P19  0.027984
24      P24  0.014222
20      P20  0.014147
14      P14  0.006441
15      P15  0.000742
0        Id -0.006277
26      P26 -0.007650
27      P27 -0.013680
37      P37 -0.019051
3        P3 -0.024613
5        P5 -0.028191
33      P33 -0.032426
18      P18 -0.034537
16      P16 -0.037997
31      P31 -0.040418
35      P35 -0.050156
9        P9 -0.050352
36      P36 -0.050534
12      P12 -0.062193
32      P32 -0.065857
30      P30 -0.066203
34      P34 -0.072343
10      P10 -0.073220
8        P8 -0.084215
13      P13 -0.105085
29      P29 -0.114846