In [1]:
import numpy as np
import pandas as pd
from tensorflow import keras
import os

In [2]:
pwd = os.getcwd()

In [3]:
train_import = pd.read_csv(pwd + "/train.csv")
train_import

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,132,06/25/2008,Trabzon,Other,FC,2,3.0,3.0,5.0,4,...,3.0,0,0,0,0,0,0,0,0,5787594.0
133,133,10/12/2006,İzmir,Big Cities,FC,4,5.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,9262754.0
134,134,07/08/2006,Kayseri,Other,FC,3,4.0,4.0,4.0,2,...,3.0,0,0,0,0,0,0,0,0,2544857.0
135,135,10/29/2010,İstanbul,Big Cities,FC,4,5.0,4.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,7217634.0
136,136,09/01/2009,İstanbul,Big Cities,FC,4,5.0,3.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,6363241.0

In [4]:
train_data = train_import.copy()

In [5]:
x_train = np.array(train_data.iloc[:, 5:-1])
x_train

array([[4., 5., 4., ..., 4., 3., 4.],
       [4., 5., 4., ..., 0., 0., 0.],
       [2., 4., 2., ..., 0., 0., 0.],
       ...,
       [3., 4., 4., ..., 0., 0., 0.],
       [4., 5., 4., ..., 0., 0., 0.],
       [4., 5., 3., ..., 0., 0., 0.]])

In [6]:
y_train = np.array(train_data["revenue"])
y_train

array([ 5653753.,  6923131.,  2055379.,  2675511.,  4316715.,  5017319.,
        5166635.,  4491607.,  4952497.,  5444227.,  3745135.,  5161370.,
        1734634.,  4807746.,  1999097.,  3218918., 19696939.,  8213524.,
        5337526.,  2021934.,  5525735.,  1149870.,  3956086.,  2999068.,
        8904084.,  3778621.,  2267425.,  5435276.,  4705945.,  3447890.,
        3008199.,  2058644.,  3261924.,  2371202.,  4100886.,  3903884.,
        3028267.,  2740687.,  5461700.,  3818055.,  6836483.,  4554237.,
        4952255.,  2732645.,  4264176.,  3752885.,  4250758.,  7865428.,
        7201784.,  8630682.,  2156098.,  3273041.,  1763231.,  5595267.,
        4651866.,  6941173.,  2390534.,  3258837.,  3004429.,  3600467.,
        3164972.,  4350573.,  5286212.,  1619683.,  2551252.,  1756069.,
        1882131.,  4052733.,  3836721.,  3452382.,  3982767.,  4136425.,
        2525375.,  3347767.,  5500818., 16549064.,  4590423.,  1904842.,
        3871344.,  6313221.,  3727364.,  4066618.,  3807496.,  5966193.,
        4250553.,  7495092.,  3351383.,  5906596.,  2025297.,  2364478.,
        3426169.,  2083447.,  6782425.,  3410878.,  3753720.,  1270499.,
        6412623.,  6694797.,  2344689., 13575224.,  9652350.,  4758476.,
        2738052.,  4429512.,  4467728.,  2792031.,  4888774.,  3248660.,
        3570392.,  4219263.,  2954086.,  2993069.,  3784230.,  2097022.,
        4155435.,  4882985.,  8894598.,  2018785.,  1847826.,  3780019.,
        4067566.,  3445076.,  4286645.,  4263629.,  3810007.,  4780607.,
        4015749.,  7592272.,  2383840.,  3939804.,  3376145.,  3199619.,
        5787594.,  9262754.,  2544857.,  7217634.,  6363241.])

Receiving a "direct kernel connection broken" error here

In [7]:
model = keras.models.Sequential([
    keras.layers.Flatten(),
    keras.layers.Dense(units=128, activation='relu'),
    keras.layers.Dense(units=64)
])

model.compile(optimizer='adam', loss='mse', metrics=['mae'])

history = model.fit(x_train, y_train, epochs=100)

Train on 137 samples
Epoch 1/100

In [3]:
rooms = np.array(range(1, 11))
price = np.array(range(100, 600, 50))

model = keras.models.Sequential([
    keras.layers.Flatten(),
    keras.layers.Dense(units=128, activation='relu'),
    keras.layers.Dense(units=64) 
])

model.compile(optimizer='adam', loss='mse', metrics=['mae'])

history = model.fit(rooms, price, epochs=100)

print(model.predict([7.0]))

Train on 10 samples
Epoch 1/100